.post {
    margin: 24px 5%;
}

.title {
    color: #8d13a8;
}

.content {
    margin: 24px 0;
}

.content > h1, h2, h3, h4 {
    margin: 18px 0;
}

.content > p {
    width: 100%;
}


.content > p > img {
    max-width: 60%;
    margin: 0 auto;
    display: block;
    padding: 10px 0;
}

.content > p > a {
    color: #8d13a8;
}