.dashboard {
    padding: 16px 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 100%;
}

.exportboxes {
    text-align: center;
}

.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.actionable {
    cursor: pointer;
}

.exportTable {
    margin-top: 16px;
    margin-bottom: 16px;
}

.gamesTable {
    margin-top: 16px;
    margin-bottom: 16px;
}

.weekPicker {
    margin-right: 8px;
}


.exportSuccess {
    margin-left: 8xp;
    color: green;
}

.exportFailed {
    margin-left: 8xp;
    color: red;
}

.exportFetching {
    margin-left: 8xp;
}
