.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

@media (max-width: 500px) {
    .name {
      font-size: 0.5em;
    }
    .nav {
        font-size: 0.5em;
    }
  }

.home {
    text-decoration: none;
    color: black;
}

.nav {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

.nav:hover {
    background-color: #f8e8fa;
    border-radius: 50px;
}   